// Colors

$text-color: #3D3D3D;
$backG-color: #6D6D6D;

// Apply the text color to body and p
body {
  color: $text-color;
  background-color: $backG-color;
}

p {
  color: $text-color;
}

h2 {
  background-color: $backG-color;
}
